*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding-left: 96px;
    padding-right: 96px;
    background-color: plum;
}
header{
    place-self: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cinzel', serif;
    font-size: x-large;
    display: flex;
}
.titulo2{
    color: purple;
}
.sublinhado{
    background-color: black;
    height: 5px;
    width: 90px;
    border-radius: 12%;
    transform: translate(-250px, 55px);
}


.galeria{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
        "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
        "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
        gap: 12px;
        padding-bottom: 25px;
}
.foto{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all  0.5s linear;
}

.foto:nth-child(1){
    grid-area: f1;
    background-image: url(./img/logo-purple-kiss.jpg);
}
.foto:nth-child(2){
    grid-area: f2;
    background-image: url(./img/purplekiss-sweetjuice.webp)
}
.foto:nth-child(3){
    grid-area: f3;
    background-image: url(./img/clipss-ponzona.png);
}
.foto:nth-child(4){
    grid-area: f4;
    background-image: url(./img/swan-memeM.jpg);
}
.foto:nth-child(5){
    grid-area: f5;
    background-image: url(./img/sweet-juice2.webp);
}
.foto:nth-child(6){
    grid-area: f6;
    background-image: url(./img/ponzona-pk.webp);
}
.foto:nth-child(7){
    grid-area: f7;
    background-image: url(./img/kisses.jpg);
}
.foto:nth-child(8){
    grid-area: f8;
    background-image: url(./img/pk-gp.webp);
}

.foto__info{
    position: absolute;
    width: 100%;
    height: 64px;
    background-color:#0009;
    color: white;
    bottom:0;
    transform: translateY(100%);
    transition: 1s;
    font-family: 'Courier New', Courier, monospace;
}

.foto:hover > .foto__info{
    transform: translateY(0%);
}

@media (max-width: 768px) {
    body{
        padding-left: 12px;
        padding-right: 12px;
    }
    .galeria{
        display: flex;
        flex-direction: column;
    }
    .foto{
        width: 100%;
        height: 33vh;
    }
}
footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    background-color: rebeccapurple;
    color: black;
    width: 250px;
    height: 74px;
    border-radius: 30%;
    display: grid;
    justify-content: center;
    place-items: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botao:hover{
    background-color: white;
    color: rebeccapurple;
}

.foto:hover{
    transform: scale(1.2);
}

